div.gallery-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-image: url('./img/gallery_slider.png');
}
div.gallery-slider h1 {
    font-size: 2.25rem;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}