.navbar-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: #4ecdc4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ecdc4, #556270); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ecdc4, #556270);
}

.navbar-logout{
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.navbar-logout:hover{
    color:white

}