div.header {
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

div.header-contact-section {
    padding: 0.8rem 8.125rem;
    display: flex;
    justify-content: flex-end;
}

div.header-contact {
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.header-contact-details {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: aquamarine; */
}

p.header-contact-details-title {
    margin-bottom: 0rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.625rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    /* background-color: aquamarine; */
}

p.header-contact-details-description {
    margin-top: 0rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 500;
    /* background-color: aquamarine; */
}

div.header-navigation-section {
    padding: 1rem 6.25rem;
    background-color: #2E4C66;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.active-header-navigation-section{
    padding: 1rem 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom:0.05rem rgba(0, 0, 0, 0.404) solid;
}

div.active-header-navigation-section .header-nav-link{
    margin-left: 1.5rem;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.95rem;
    text-transform: uppercase;
    text-decoration: none;
}
div.active-header-navigation-section .header-nav-link:hover{
    color: #02BBA3;
}

.header-nav-link {
    margin-left: 1.5rem;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.95rem;
    text-transform: uppercase;
    text-decoration: none;
}

.header-nav-link:hover {
    color: #02BBA3;
}

.authenticate-link {
    text-transform: capitalize;
}

#authenticate-link {
    margin-left: 6.25rem;
}
