.list-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
}
.list-wrapper .list-title{
    display: grid;
    grid-template-columns: 1.5fr .8fr 1.5fr .7fr 1fr .5fr ;
    gap: 1rem;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: 1rem;
}
.list-item-title{
    border-right:1px solid #e0e0e0;
}
.list-item-card{
    display: grid;
    grid-template-columns: 1.5fr .8fr 1.5fr .7fr 1fr .5fr ;
    gap: 1rem;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: .5rem;
    align-items: center;
    
    margin-top: 1rem;
}
.list-img-container{
    width: 200px;
   height: 200px;
    overflow: hidden;
    margin: auto;
    
}


.list-img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.item-remove{
    font-weight: 500;
    color: red;
    cursor: pointer;
}
.list-item-features{
    font-size: .7rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}